* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    border-radius: 1em;
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}

.menu-item {
    display: inline-table;
    height: 5em;
    width: 8em;
    line-height: 5em;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

nav > ul > li:last-child:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5 rem;
    transition: 350ms ease-in-out all;
    pointer-events: none;
}

nav > ul > li:nth-last-child(1) ~ li:last-child:after{
    right: 50%;
}