@import "./font-awesome/scss/font-awesome.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "./josefin-sans/JosefinSans-Bold.ttf";
@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

$boxshadow: 0 3px 20px 0 #0000003b;
$font-stack: "JosefinSans-Bold";
$purple: #383e56;
$coral: #f69e7b;
$beige: #eedad1;
$nude: #d4b5b0;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    width: 100vw;
    height: auto;
    background-color: $beige;
    float: left;
    color: $purple;
}

nav {
    top: 0;
    h1 {
        font-family: $font-stack;
        display: block;
        color: $purple;
        float: left;
        padding: 20px;
        font-size: 2em;
    }
    ul {
        margin-right: 75px;
        float: right;
        display: flex;
        li {
            list-style-type: none;
            a {
                padding: 20px;
                display: block;
                text-decoration: none;
                color: $purple;
                &:hover {
                    color: $coral;
                    transition: color linear 0.5s;
                }
            }
            .sub-menu {
                display: none;
                //position: relative;
                animation: out ease-in 0.5s;
            }
            &:hover .sub-menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                border-radius: 5px;
                width: auto;
                background-color: $beige;
                box-shadow: $boxshadow;
                animation: in ease-in 0.5s;
            }
        }
    }
    .fa-bars {
        display: none;
        float: right;
    }
}

.media {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 10em;
    background-color: $beige;
    border-radius: 5px 0 0 5px;
    box-shadow: $boxshadow;
    a {
        text-align: center;
        display: block;
        padding: 1em;
        color: $purple;
        &:hover {
            box-shadow: $boxshadow;
            color: $coral;
            transition: color linear 0.5s;
            transition: box-shadow linear 0.5s;
            &:first-child {
                border-radius: 5px 0 0 0;
            }
            &:last-child {
                border-radius: 0 0 0 5px;
            }
        }
    }
}

.dropdown>a:after {
    font-family: FontAwesome;
    content: "\f107";
    margin-left: 0.5em;
}

.page {
    height: inherit;
    width: 100%;
    flex-direction: column;
    @include flexbox;
    header {
        margin-top: 5em;
        @include flexbox;
        .photo {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            background-size: contain;
            background-image: url(./m.jpg);
            border: $beige 15px solid;
            box-shadow: $boxshadow;
        }
        .content {
            width: 50%;
            padding: 3em;
            text-align: justify;
            h2 {
                font-size: 0.7em;
            }
            h3 {
                font-size: 2.5em;
                font-family: $font-stack;
                padding: 0.5em 0 0.5em 0;
                color: $purple;
            }
            p {
                font-size: 0.8em;
            }
        }
    }
}

@keyframes in {
    0% {
        transform: translate(0, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    nav {
        height: 50px;
        background-color: $beige;
        box-shadow: $boxshadow;
        ul {
            flex-direction: column;
            position: absolute;
            top: 50px;
            right: 0;
            margin-right: 0;
            box-shadow: $boxshadow;
            height: 100%;
            background-color: $beige;
            z-index: 1;
            li {
                display: block;
                .sub-menu {
                    height: unset;
                    display: block;
                    top: 0;
                    position: relative;
                    box-shadow: none;
                    animation: none !important;
                }
                &:hover .sub-menu {
                    position: inherit;
                    box-shadow: none;
                }
            }
            .dropdown>a::after {
                content: none;
            }
        }
        .fa-bars {
            display: block;
            padding: 10px;
            color: $purple;
            &:hover {
                color: $coral;
                transition: color linear 0.5s;
            }
        }
    }
    .media {
        display: flex;
        flex-direction: row;
        bottom: 0;
        top: 90%;
        width: 100%;
        justify-content: space-between;
        border-radius: 0;
        a {
            width: 25%;
            &:hover {
                &:first-child,
                &:last-child {
                    border-radius: 0;
                }
            }
        }
    }
    header {
        margin-top: 3em !important;
        flex-direction: column;
        .content {
            width: 100% !important;
            h2,
            h3 {
                text-align: center;
            }
        }
    }
}