$orange: #d94e09;
.container {
    margin: auto;
}

.btn {
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 516px;
    height: 85px;
    margin: 3em auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    &:hover {
        background-color: #c94808;
    }
}

.text {
    font-size: 30px;
    color: white;
    line-height: 87px;
    font-weight: 500;
}

.arrow {
    font-size: 3em;
    margin-left: 3px;
    color: #ffffff;
}

.circle {
    background-color: #ffffff;
    color: #000000;
    font-size: 23px;
    font-weight: 700;
    height: 61px;
    width: 61px;
    line-height: 47px;
    margin-right: 10px;
    border-radius: 50%;
    border: 7px double $orange;
    position: relative;
}

h4 {
    position: relative;
    padding-bottom: 1em;
     :after {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        background-color: black;
        bottom: 0;
        left: 0;
    }
}

.box {
    background-color: #f1f1f1;
    padding: 0.5em;
    margin-bottom: 1em;
}

.bullet:before {
    content: "\2022";
    color: $orange;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
}

h5 {
    color: $orange;
    padding: 0.5em;
}

li {
    margin-bottom: 0.5em;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 667px) {
    .btn {
        font-size: 20px;
        width: unset;
        height: unset;
    }
    .arrow {
        font-size: 2em !important;
    }
    .text {
        line-height: unset;
        font-size: 20px;
    }
}